.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;

    .loading {
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }

    .end-message {
        text-align: center;
        width: 100%;
        font-size: 16px;
        margin-top: 20px;
        color: gray;
    }

    .error-message {
        text-align: center;
        width: 100%;
        font-size: 16px;
        color: red;
        margin-top: 20px;
    }
}
